<div class="jumbotron">
  <h1 class="display-4">Hello, <%=@user_info.name %> </h1>
  <p> Email : <%=@user_info.email %></p>
  <p class="lead">
    #(<%=@test_info.id%>) <%=@test_info.test_details %>
  </p>
  <a class="btn btn-primary btn-lg"  role="button"><%=@sub.result%> out of <%=@sub.total %></a>
</div>